form.rjsf legend {
  border: 0;
}

.form-group {
  margin-top: 20px;
}

label,
.col-fieldset-2 fieldset legend {
  color: #666 !important;
  font-weight: bold !important;
  font-size: 1.1em;
}

p.field-description {
  margin: 5px 0;
  font-style: italic;
  font-size: 0.9em;
  color: #999;
}

.col-fieldset-2 fieldset legend {
  border: 0;
  margin-bottom: 5px;
}

.col-fieldset-2 fieldset .form-group {
  width: 45%;
  float: left;
  margin-top: 0;
}

.col-fieldset-2 fieldset .form-group label {
  font-weight: 100 !important;
  font-size: 0.9em;
}
