
.badge {
  width: 22%;
  transition: all ease 0.2s;
  opacity: 0.8;
}

.badge i.fa {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.badge:hover,
.badge.active {
  background-color: #fff;
  opacity: 1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.13);
}

.badgeValue {
  background-color: #f90;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 20%;
  padding: 10px;
  color: white;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
